@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.view-app-left{
    float: left;
    margin-top: 15rem;
    width: 35%;
}

.view-app-left a{
    font-size: 2rem;
    margin-left: 5rem;
    text-decoration: none;
    padding: 2rem;
    display: inline-block;
}

.view-app-left i{
    font-size: 3rem;
    margin-right: 1.5rem;
}


.view-app-right{
    margin-bottom: 5rem;
    
}

#applied-list{
     margin-top: 5rem;
    font-weight: bold;
    font-size: 5rem;
}


.table {
    width: 65% !important;
    background-color: white;
    float: right;
    margin-top: 5rem;
}


.table thead>tr {
    border: 1rem solid white;
}

.table tr th{
    font-size: 2rem;
    font-weight: bold;
}

.table th,
td {
    color: black;
    font-size: 1.3rem;
}

.table .row {
    position: static;
}

.table .row p {
    width: 3rem !important;
}

.detail-row {
    border-bottom: 2px solid black;
}

.table button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

.detail-info a {
    text-decoration: none;

}

.detail-info ul {
    list-style: none;
}

.detail-info li {
    font-size: 1.3rem;
}


.pagination{
    margin-top: 2rem;
    clear: both;
    margin-left: 53rem;

}

.pagination li a{
    font-size: 1.5rem;
}



