/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 10, 2023, 12:38:37 AM
    Author     : trong
*//* CSS for job-posting */
#hot-job{
    text-align: center;
    color: orangered;
    margin-top: 30px;
    font-size: 20px;

}

#job-list {
    /* border: solid 2px rgb(0, 0, 0); */
    max-width: 600px;
    font-size: 20px;
    background-color: white;
    margin-left: 30%;
    margin-top: 3%;
    border-radius: 5px;
}
#job-list ul{
    list-style: none;
    padding-left: 0;
} 
#job-list #job-list-head{
    padding: 5px;
    display: flex;
    margin-top: 10px;
}
#job-list #job-list-head .job-title a{
    text-decoration: none;
    color: rgb(160, 26, 26);
}
#job-list #job-list-head img{
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
#job-list #job-list-body ul {
    /* border-top: 2px solid red; */
    display: flex;
    list-style: none;
    padding: 10px 25px;
    
}

#job-list #job-list-body ul li {
    margin-right: 10px;
    border: 2px solid rgb(15, 133, 180);
    border-radius: 15px;
    padding: 5px; 
}


#job-list #job-list-foot{
    border-bottom: 30px solid #343747;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#job-list #job-list-foot ul {
    border-top: 2px solid red;
    display: flex;
    list-style: none;
    margin-top: 5px;
    padding: 10px;
}
#job-list #job-list-foot ul li{
    margin-right: 10px;
    border: 2px solid rgb(21, 204, 73);
    border-radius: 15px;
    padding: 10px;
}
#job-list #job-list-foot ul i{
    color: black;
}
.search-box {
    margin-left:500px;
    width: 50%;
    padding-top: 20px;
    display: flex;
    
}

.search-form input {
    height:50px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
}

.search-button button {
    height:50px;
    width: 100px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgb(197, 32, 32);
    text-align: center;
}



.search-button button:hover {
    background-color: rgb(216, 112, 112);
}
