body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 25px;
}
h3{
  font-size: 20px;
}
.interview-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.interview-table th {
  text-align: left;
  padding: 10px;
  background-color: #444343;
  border-bottom: 2px solid #ccc;
}

.interview-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.box-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box {
  width: 600px;
  height: 220px;
  background-color: lightgray;
  border: 2px solid black;
  padding: 10px;
}
.question {
  font-size: 17px;
  margin-bottom: 10px;
}

.option {
  font-size: 16px;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f7f7f7;
  color: #444;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 5px #6cb2eb;
  background-color: #fff;
}

.submit {
  margin-top: 20px;
  background-color: #6cb2eb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: #fff;
  color: #6cb2eb;
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.start-btn:hover {
  background-color: #3e8e41; /* Dark green */
}
label {
  display:flex;
}

input[type="checkbox"] {
  margin-right: 5px;
  font-size: 10px;
 }
 .multiple-checkbox h2{
  font-size: 17px;
  margin-bottom: 10px;
 }