@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=Noto+Sans+Lepcha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=IBM+Plex+Mono:wght@400;600&family=Noto+Sans+Lepcha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=IBM+Plex+Mono:wght@400;600&family=Noto+Sans+Lepcha&family=Poppins:wght@400;500;600;800&display=swap");
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  min-height: 200vh;
  background: #000;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 2rem 4rem;
  z-index: 10000;
  height: 10rem;
}

.navbar.sticky {
  padding: 1rem 4rem;
  background: #fff;
  border-bottom: 3px solid silver;
}

.navbar #logo a {
  position: relative;
}

.navbar #logo img {
  margin-top: -1rem;
}

.navbar > .header-info > ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  width: 80rem;
}

.navbar .header-info ul li {
  position: relative;
  list-style: none;
  margin: 0 1rem;
}
.navbar .header-info ul li a {
  position: relative;
  text-decoration: none;
  margin: 0 2rem;
  font-size: 2rem;
  color: #fff;
}

.navbar .header-info ul li a::after {
  content: "";
  height: 0.3rem;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}

.navbar .header-info ul li a:hover::after {
  width: 100%;
}

.navbar .header-info .account {
  display: flex;
  margin-top: 1rem;
}

.navbar .header-info .account img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: -1rem;
}

.navbar .header-info .account ul {
  position: absolute;
  left: 0;
  width: 27rem;
  padding: 2rem;
  display: none;
}

.navbar .header-info .account ul li {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  padding: 1rem;
}

.navbar .header-info ul li:hover > ul {
  display: initial;
  margin-top: 2rem;
}

.navbar.sticky ul li a {
  color: #000;
}

.navbar.sticky ul li > ul li a {
  color: #fff;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://images-ext-1.discordapp.net/external/YD6LN5qAdGqUhwI-L5aIvhTj7yn-u9CQkbIqDOF6uEw/https/static.wixstatic.com/media/ea71bb_370144e721bc43c289bfb35fed3376d1~mv2_d_4500_2124_s_2.jpg/v1/fill/w_1593%2Ch_668%2Cal_b%2Cq_85%2Cusm_0.66_1.00_0.01%2Cenc_auto/ea71bb_370144e721bc43c289bfb35fed3376d1~mv2_d_4500_2124_s_2.jpg?width=1203&height=505");
  background-size: cover;
}

.banner .banner-content {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50deg, -50deg);
  color: #fff;
}

.banner .banner-content h1 {
  font-size: 8rem;
}

.banner .banner-content p {
  font-size: 2rem;
  font-style: italic;
  margin: 3rem 0;
}

.banner .banner-content button {
  margin-left: 38rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: none;
}

.banner .banner-content button a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.banner .banner-content button:hover {
  background: linear-gradient(rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.5));
}

.banner .banner-content button:hover > a i {
  opacity: 0.6;
  color: red;
}



.service>h1{
  text-align: center;
  padding: 5rem 0;
  font-size: 4rem;
  font-weight: bold;
  color: #009688;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
}

.intro i{
  font-size: 5rem;
}

.intro .suitable-job{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.intro .suitable-job i:hover{
  color: rgb(243, 47, 51);
}

.intro .suitable-job h1{
  font-size: 4rem;
  text-transform: uppercase;
  padding: 3rem 0;
}

.intro .suitable-job p{
  margin-top: -3rem;
  font-size: 2rem;
  color: rgb(146, 146, 146);
  font-style: italic;
}





.intro .developer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.intro .developer img{
  width: 50rem;
}

.intro .developer > .text{
  width: 48rem;
}

.intro .developer i:hover{
  color: rgb(57, 221, 167);
}

.intro .developer h1{
  font-size: 4rem;
  text-transform: uppercase;
  padding: 3rem 0;
}

.intro .developer p{
  margin-top: -3rem;
  font-size: 2rem;
  color: rgb(146, 146, 146);
  font-style: italic;
}

.intro .good-welfare{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.intro .good-welfare img{
  width: 50rem;
}

.intro .good-welfare > .text{
  width: 48rem;
}

.intro .good-welfare i:hover{
  color: rgb(206, 206, 25);
}

.intro .good-welfare h1{
  font-size: 4rem;
  text-transform: uppercase;
  padding: 3rem 0;
}

.intro .good-welfare p{
  margin-top: -3rem;
  font-size: 2rem;
  color: rgb(146, 146, 146);
  font-style: italic;
}


/* CSS for hot-jobs */
#job-post-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: rgb(171, 36, 36);
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 17rem;
}

.product-area-list {
  padding-top: 5rem;
  margin-left: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10rem;
}

.product-area-list .product {
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.product-area-list .product:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  cursor: pointer;
}

.product-area-list .product .welfare{
  width: 33rem;
  overflow: hidden;
  text-align: center;
  margin-left: 3rem;
  max-height: 9rem;
}

.product-area-list .product .welfare::after{
  content: '...';
}

.product-area-list .product h1 {
  font-size: 3.5rem;
}

.product-area-list .product h1 a{
    text-decoration: none;
    color: #2e2e2e;
}

.product-area-list .product a{
    font-size: 2rem;
    color: rgb(208, 41, 203);
    text-decoration: none;
}

.product-area-list .product a i{
    font-size: 1.7rem;
    margin-left: 0.5rem;
}

.product-area-list .product p {
  font-size: 1.5rem;
}

.product-area-list .product i {
  font-size: 4rem;
  color: rgb(185, 27, 185);
  transition: 0.2s ease-in-out;
}

.product-area-list .product:hover i {
  color: rgb(243, 20, 243);
  transform: scale(1.1);
}



#seek-job{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: rgb(171, 36, 36);
    font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

.search-job{
  width: 100%;
  height: 30vh;
  /* background: linear-gradient(#5e5e60,#3b3be0); */
  display: flex;
  align-items: center;
}

.search-job .search-bar{
  width: 85%;
  background: rgba(200, 200, 200, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-left: 10rem;
  opacity: 0.8;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  color: #fff;
}

::placeholder{
  color: #2e2e2e;
}

.search-bar button {
  width: 5rem;
  height: 5rem;
  border: 0;
  border-radius: 50%;
  background: #58629b;
  cursor: pointer;
}

.search-bar button i{
  font-size: 2rem;
}

.search-bar button:hover{
  background-color: #b8b8b8;
}

.search-result{
  width: 85%;
  border: #a8a8a8 1px solid;
  margin-left: 10rem;
  margin-bottom: 5rem
}

.search-result{
  border-radius: 1rem;
}
.search-result .result-post{
  border-top: #a8a8a8 1px solid;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease;  
}

.search-result .result-post:hover{
  background-color: rgb(252, 222, 252);
}

.search-result .result-post:hover img{
  opacity: 1;
  background-color: white;
}

.search-result .result-post:hover .post-down {
  opacity: 1;
  background-color: white;
}

.search-result .result-post img{
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  height: 17rem;
  width: 17rem;
  transition: background-color 0.3s ease;
  background-color: white;
}

.search-result .result-post h2{
  font-size: 3rem;
  font-weight: bold;
}

.search-result .result-post h2 a{
  text-decoration: none;
  color: black;
}

.search-result .result-post p{
  font-size: 1.5rem;
}

.search-result .result-post i{
  margin-right: 1rem;
}

.search-result .result-post .post-down{
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  display: inline-block;
  background-color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.search-result .result-post .post-down p{
  margin-bottom: 0%;
}

.search-result .result-post .result-post-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-result .result-post .result-post-right i{
  margin-top: 2rem;
  font-size: 3rem;
  width: 5rem;
  padding: 1rem;
  text-align: center;
  transition: 0.3s ease;
 
}


.search-result .result-post .result-post-right p{
  margin-right: 1rem;
  font-style: italic;
  color: rgb(47, 47, 246);
}

.search-result .result-post .result-post-right i:hover{
  background-color: rgb(246, 248, 114);
  border-radius: 50%;
}

.search-result .result-post .result-post-right i:active{
  background-color: aquamarine;
  border-radius: 50%;
}

.contact{
  margin-left: 30rem;
  margin-bottom: 5rem;
}

.contact h1{
  font-size: 3rem;
}

.contact input{
  width: 90rem;
  border-radius: 1rem;
  height: 3rem;
}

.contact p{
  font-size: 2rem;
}

.contact .name{
  display: flex;
}

.contact .name input{
  width: 44rem;
  margin: 0.5rem;
}

.contact button{
  margin-top: 2rem;
  margin-left: 37rem;
  font-size: 1.7rem;
  border-radius: 2rem;
  padding: 0.5rem 5rem;
  border: none;
  background: #ccc;
}

.contact button:hover{
  background: #aaa;
}

.footer{
  padding-left: 0;
  background-color: #efefef;
  padding: 5rem;
  text-align: center;
}

.footer .icon{
    text-align: center;
    font-size: 2.5rem;
   
}

.footer .icon a{
  color: #fff;
}

.footer .icon a:hover{
  color: #aaa;
}

.footer .icon i{
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 30%;
  background: #7c7c7c;
}

.footer .logo{
  display: flex;
  text-align: center;
  justify-content: center;
  /* margin-top: 3rem; */
}

.footer .logo img{
  height: 5rem;
  width: 10rem;
}

.footer .logo img:hover{
  opacity: 0.7;
}

.footer .logo h2{
  display: flex;
  align-items: center;
}


.footer .location p{ 
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  color: #949494;
}
